// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
/* core settings */
* {
	// font-family: 'Open Sans', sans-serif;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 100%;
	box-sizing: border-box;
}

html {
	opacity: 0;
	transition: opacity 1s;
	scroll-behavior: smooth;
}

body {
	background-color: $bgColor;
	color: $textColor;
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	line-height: 1.5;
	border: 0;
	outline: 0;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
}

a {
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
}

li {
	list-style: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

/* core (optional) */
*:focus {
	outline: none;
}

button {
	border: none;
}

/* core style */
h1 {
	font-size: 32px;
	line-height: 1.2;
	padding: 1em 0;
	text-align: center;
}

h2 {
	font-size: 26px;
	padding-bottom: 1em;
}

p {
	font-size: 24px;
	padding-bottom: 1em;
}

.hr {
	margin: 40px 0;
	img {
		width: 150px;
	}
}

.content-wrap {
	width: 88%;
	margin: 0 auto;
}

.btn {
	display: block;
	background-color: $primary;
	color: $white;
	width: 60%;
	margin: 1em auto;
	padding: .5em 0;
	text-align: center;
	font-size: 500;
	border-radius: 4px;
	transition: .2s;
	cursor: pointer;
	&:hover {
		background-color: $secondary;
	}
}

// Animation =============================

//preload
body.preload * {
	animation-duration: 0s !important;
	-webkit-animation-duration: 0s !important;
	transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
		padding 0s, margin 0s !important;
}

@media screen and (min-width: 1000px) {
	//Fade Left
	.fade-left {
		opacity: 0;
		animation: yourAnimation .5s infinite 0s fowards;
		transform: translateX(100px);
		&.is-active {
			opacity: 1;
			transform: translateX(0);
			transition: all 1s ease;
			transition-delay: 1s;
		}
	}

	//Fade right
	.fade-right {
		opacity: 0;
		transform: translateX(-100px);
		&.is-active {
			opacity: 1;
			transform: translateX(0);
			transition: all 1s ease;
			transition-delay: 1s;
		}
	}

	//Fade right
	.fade-up {
		opacity: 0;
		transform: translateY(100px);
		&.is-active {
			opacity: 1;
			transform: translateY(0);
			transition: all 1s ease;
			//transition-delay: .5s;
		}
	}

	@mixin child-delay {
		@for $i from 1 to 10 {
			&:nth-child(#{$i}n) {
				transition-delay: #{$i * .2}s;
			}
		}
	}

	.delay {
		&.is-active {
			@include child-delay;
		}
	}
}
